<button id="{EMAIL_TYPE}" type="button" class="tab-button tab" onclick="displayTab(event, '{EMAIL_TYPE}'); updateFields('{EMAIL_TYPE}');  return false;">{EMAIL_TYPE_DESCRIPTION}</button>
<input name="{EMAIL_TYPE}_title" id="{EMAIL_TYPE}_1" type="hidden"  value="{EMAIL_TITLE}">
<textarea name="{EMAIL_TYPE}_body" id="{EMAIL_TYPE}_2" style="display:none;">{EMAIL_BODY}</textarea>
<input id="{EMAIL_TYPE}_mandatory_fields" type="hidden"  value="{MANDATORY_FIELDS}">
<input id="{EMAIL_TYPE}_fields" type="hidden"  value="{FIELDS}">

