<html>
<head>

	<script src="https://unpkg.com/@shopify/app-bridge@1"></script>
	<script>
		var AppBridge = window['app-bridge'];
		var createApp = AppBridge.createApp;
		var actions = AppBridge.actions;
		var Redirect = actions.Redirect;
		var apiKey = '{API_KEY}';
		var shopOrigin = new URL(window.location.href).searchParams.get("shop");

		var redirectUri = '{REDIRECT}';
		var permissionUrl = 'https://'+
			shopOrigin+
			'/admin'+
			'/oauth/authorize?client_id='+
			apiKey+
			'&scope=read_products,read_content&redirect_uri='+
			redirectUri;

		if (window.top == window.self) {
			window.location.assign(permissionUrl);
		} else {
			var app = createApp({
				apiKey: apiKey,
				shopOrigin: shopOrigin,
				forceRedirect: true
			});
			Redirect.create(app).dispatch(Redirect.Action.REMOTE, permissionUrl);
		}
	</script>
</head>
<body>
</body>
</html>
