<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CoreComponentsSuite" verbose="2">
	<test name="CoreComponentsTest">
		<packages>
			<package name="com.univocity.*">
				<exclude name="com.univocity.shopify.dao.*"/>
				<exclude name="com.univocity.shopify.service.*"/>
				<exclude name="com.univocity.shopify.server.*"/>
				<exclude name="com.univocity.shopify.controllers.api.*"/>
			</package>
		</packages>
	</test>

	<test name="daos" preserve-order="true" parallel="false">
		<classes>
			<class name="com.univocity.shopify.BaseTest"/>
			<class name="com.univocity.shopify.dao.OrdersDaoTest"/>
			<class name="com.univocity.shopify.dao.CustomerDaoTest"/>
			<class name="com.univocity.shopify.dao.LineItemDaoTest"/>
			<class name="com.univocity.shopify.dao.ProductDaoTest"/>
			<class name="com.univocity.shopify.dao.VariantDaoTest"/>
		</classes>
	</test>
</suite>